body {background-color: #5e3f51;}
.topnav {
  background-color: #dba32a;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #29272e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Finger Paint','Creepster', cursive;
  }
  a:hover {
  background-color: white;
  color: #29272e;
}
a.active {
  background-color: #cf7d25;
  color: #29272e;
}
p{
  color: #dba32a;
  font-family: 'Finger Paint','Creepster', cursive;
}
h3{
  color: #cf7d25;
  font-family: 'Creepster', cursive;
   text-align: center;
  font-size: 50px;
}
.baby{
  border: 1px solid #dba32a;
  padding: 5px 10px 10px 10px;
  margin: 25px 50px 75px 100px;
  background-color: #29272e;
}



  h1{
    color: #cf7d25;
    text-align: center;
    text-shadow: 7px 4px 6px #29272e;
   font-size: 100px;
    text-decoration: underline;
    color: #cf7d25;
  font-family: 'Creepster', cursive;
  }

h2{
  color:#cf7d25;
  text-align: center;
  border: 1px solid #dba32a;
  padding: 5px 10px 10px 10px;
  margin: 20px 190px 25px 190px;
  background-color: #29272e;
  font-family: 'Creepster', cursive;
  font-size: 70px;
}

table{
  width: 50%;
  border-collapse: collapse;
  background-color: #cf7d25;
  border: 1px solid black;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  width: 600px;
  height: 60px;
}

dh {
  text-align: center;
  font-size: 350px;
}

tr{
  text-align: center;
  font-family: 'Creepster', cursive;
}
tr:nth-child(even){
 background-color: #dba32a;
font-family: 'Finger Paint','Creepster', cursive;
}
tr:hover {background-color: #f5f5f5;}

 
 @font-face{
  font-family:"Creepster"
}
@font-face{
  font-family:"Finger Paint"
 }
